.body
{
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
}

.h1
{
            margin-bottom: 20px;
            color: #333;
}
.timer
{
            font-size: 50em;
            margin-bottom: 20px;
}
.button
{
            margin: 5px;
            padding: 10px 20px;
            font-size: 1em;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
}
.button:hover
{
            background-color: #0056b3;
}
.button:active
{
            background-color: #004494;
}
.button:disabled
{
            background-color: #ccc;
            cursor: not-allowed;
}
